<!DOCTYPE html>
<html>
  <head>
    <title>#{title}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div>
      <h1>#{message}</h1>
      <h2>#{error.status}</h2>
      <pre>#{error.stack}</pre>
    </div>
  </body>
</html>


<div class="container">
    <div class="row">
    <div class="col-sm-6 imgUp">
            
    
    </div><!-- col-2 -->

    <div class="col-sm-6"style="border:solid">
        <div class="vertical-center text-xs-center">
          Hello World
        </div>
      </div><!-- col-2 -->
   </div><!-- row -->
</div><!-- container -->